<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout::site-head">
	<title>Welcome to Spring MVC Blog</title>
</head>
<body>	
	<!-- Header -->
	<header th:replace="layout::site-header"></header>
	<br>
	<br>
	<div class="container">
		<div class="hidden-xs text-center"><img width="400px" th:src="@{/img/500-internal-server-error.jpg}" src="../../public/img/500-internal-server-error.jpg"/></div>
	</div>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- Footer -->
	<footer th:replace="layout::site-footer"></footer>
</body>
</html>